.gameBoard {
  position: relative;
  width: 80vw;
  padding: 2rem 0;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(133, 133, 133, 0.2);

  &__panel {
    width: 90%;
    display: flex;
    justify-content: space-between;

    &__stats {
      display: flex;
      gap: 1rem;
    }
  }

  & button {
    align-self: flex-start;
    margin-left: 5%;
  }
}
