:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --main-bg-color: hsl(217, 38%, 92%);
  --secondary-bg-color: hsl(0, 0%, 100%);
  --main-font-color: rgba(0, 0, 0, 0.87);
  --secondary-font-color: rgba(255, 255, 255, 0.6);
  --toggle-bg: rgba(170, 170, 170, 0.87);
  --toggle-color: rgba(255, 255, 255, 0.6);
}

[data-theme="dark"] {
  --main-bg-color: #242424;
  --secondary-bg-color: hsla(210, 90%, 96%, 0.227);
  --main-font-color: rgb(255, 255, 255);
  --secondary-font-color: rgba(255, 255, 255, 0.729);
  --toggle-bg: rgba(0, 0, 0, 0.87);
  --toggle-color: rgba(255, 255, 255, 0.6);
}
